body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  height: 100vh;
  width: 100vw;
}

.monaco-editor {
  height: 100%;
  width: 100%;
}

#titlebar {
  width: 100vw;
  height: 40px;
  background-color: #1e1e1e;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  padding: 8px 0 0 10px;
}

#save {
    background-color: #569CD6; /* Green */
    border: none;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#save:hover {
  background-color: #76afde;
  cursor: pointer;
}